<div class = "question">
  <p><%=params[:question]%></p>
  <p>-You</p>
</div>
<br>
<div class = "answer-btn">
  <p><%= @answer %></p>
  <p>-The Coach</p>
</div>
<p><%= link_to "ask another question", ask_path %></p>
